* {
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

header {
  background-color: #ffe2c2;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.city-selection {
  margin-top: 15px;
  padding: 20px;
}

.search {
  float: left;
}

#city {
  width: 80%;
  margin-right: 10px;
  border-radius: 20px;
}

.cities {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-bottom: 60px;
}

.city-choice {
  left: 0;
  text-align: center;
  float: left;
  width: 35%;
  border: 1px solid black;
  margin: 10px 5%;
}

.current {
  background-color: #e3a147;
}

.city-today {
  clear: both;
  margin-top: 30px;
}

.today-icon-description {
  margin-top: 0;
  margin-bottom: 0;
}

#city-and-date {
  text-align: center;
  margin-top: 40px;
}

.info {
  text-align: center;
  width: 50%;
  float: left;
}

.uv {
  padding: 5px;
  border: 1px solid black;
  color: white;
}

.city-today::after {
  clear: both;
}

.forecast {
  clear: both;
  background-color: #8f4528;
  padding: 10px;
}

.forecast h3 {
  text-align: center;
}

.card {
  background-color: #182e4c;
  color: white;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
}

.day-icon {
  float: left;
  margin-right: 0;
}

.day-icon-description {
  margin: 0 auto;
}

.card img,
.info-group {
  margin: 25px;
}

.card img {
  float: left;
  margin: 0 auto;
}

.info-group {
  float: right;
  margin-left: 0;
}
